<!-- {{ title }} -->
<!-- for array -->
<!-- <p> -->
<!-- {{ data }} -->
<!-- </p> -->
<!-- for functions -->
<!-- <h2> -->
<!-- {{ getData() }} -->
<!-- </h2> -->
<!-- for objects -->
<!-- <h3> -->
<!-- {{ god.Death }} -->
<!-- </h3> -->
<!-- for normal Variables -->
<!-- <h1> -->
<!-- {{ name }} -->
<!-- </h1> -->
<!-- <app-user-list></app-user-list> -->
<!-- <app-login></app-login> -->

<!-- <app-angular-func-component></app-angular-func-component> -->
<!-- <app-angular-events-component></app-angular-events-component> -->
<!-- <app-get-text-box-value-component></app-get-text-box-value-component> -->
<!-- <app-property-binging-component></app-property-binging-component> -->
<!-- <app-angular-condition-component></app-angular-condition-component> -->
<!-- <app-angular-switch-case-component></app-angular-switch-case-component> -->
<!-- <app-angular-loops-component></app-angular-loops-component> -->
<!-- <app-angular-simple-forms-component></app-angular-simple-forms-component> -->
<!-- <app-angular-header-footer-component></app-angular-header-footer-component> -->
<!-- <app-angular-style-binding-component></app-angular-style-binding-component> -->
<!-- <app-angular-add-bootstrap-component></app-angular-add-bootstrap-component> -->
<!-- <app-angular-add-material-component></app-angular-add-material-component> -->
<!-- <app-pass-data-ptc-component></app-pass-data-ptc-component> -->
<!-- <app-angular-reuseable></app-angular-reuseable> -->
<!-- <app-pass-data-ctp-component></app-pass-data-ctp-component> -->
<app-angular-pipes-component></app-angular-pipes-component>
